@model IList<TruckControl.Models.TruckViewModel>
@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <dt class="col-sm-2">
        <p>
            <a asp-action="Create">Criar novo</a>
        </p>
    </dt>
    </br>
    <dd class="col-sm-10">
        <table class="table">
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Modelo</th>
                <th>Ano do Modelo</th>
                <th>Ano de Produção</th>
                <th></th>
            </tr>
            @foreach (var truck in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => truck.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => truck.TruckName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => truck.TruckModelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => truck.ModelYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => truck.ProductionYear)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@truck.Id">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@truck.Id">Excluir</a>
                    </td>
                </tr>
            }
        </table>
    </dd>
</div>
